body{
    background-color:black;
   background-position:  center top 50px;
    background-size: cover;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ707XxmmE77qgmggBN5ooWEOOAoeFSgs3RrA&s);
    
    
}