<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: inline;
        }
        span{
            display: block;
            color: green;
        }
    </style>
</head>
<body>
    <div>Hello</div>
    <div>Hello</div>


    <div style="background-color: brown;">Hell</div>
    <div style="background-color: blue; margin-top: 20px;">Hell</div>


    <br>
    <span>goot night</span>


    <div>good night</div>


</body>
</html>